/*Exercicio 1)
 #verde{
    width: 200px;
    background-color: green;
    height: 200px;
}
#vermelho{
    width: 200px;
    background-color: red;
    height: 200px;
}
#azul{
    background-color: blue;
    width: 200px;
    height: 200px;
} */
/* Exercicio 2) */
/* #contador{
    
 text-align: center;
 margin-left: 82vh;
 margin-bottom: 0px;
 height: 200px;
 width: 300px;
 }
  #NumeroDeClick{
 text-align: center;
 margin-left: 82vh;
 margin-top: 30vh;
 width: 50px;
 } */
 /* #botao2{
 height: 200px;
 width: 300px;
 text-align: center;
 margin-left: 82vh;
 margin-top: 30vh;


}
#frase{
    text-align: center;
 margin-left: 82vh;

} */